.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

input {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.form-container {
    width: 300px;
    border: none;
}


.group1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 150px;
    width: 150px;
    border: solid #5E8562;
    border-radius: 50%;
    overflow: hidden;
}

.group1>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    align-self: center;
}

.uploadbtn {
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 180px;
    margin-top: -40px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.uploadbtn>img {
    background-color: #FFF7F0;
    border: solid green;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.input-label {
    font-family: 'Times New Roman', Times, serif;
    color: #5E8562;
    margin-top: 3px;
}

.grp1{
    display: flex;
    flex-direction: row;
}

.grp1 > label{
    margin-left: 2px;
}

::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #5E8562;
    font-size: medium;
}

.input-group {
    margin-bottom: 10px;
}

.input-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #5E8562;
    mix-blend-mode: multiply;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.extra{
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.register-button,
.otp-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #1B4C20;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.otp-button{
    width: 45%;
    padding: 10px;
    margin-top: 15px;
    background-color: #1B4C20;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}