body {
    background-color: #FFF7F0;
}

.ForgetPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

input{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.ForgetPasswordContainer > img {
    width: 250px;
    margin-top: 10px;
    margin-bottom: -10px;
    mix-blend-mode: multiply;
}

.form-container {
    width: 300px;
    border: none;
}

.input-label{
    font-family:'Times New Roman', Times, serif;
    color: #5E8562;
    margin-top: 3px;
}

::placeholder {
    color: #5E8562;
    font-size: medium;
  }

.input-group {
    margin-bottom: 10px;
}

.input-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #5E8562;
    mix-blend-mode: multiply;
    margin-bottom: 10px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #1B4C20;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
